#include "Signing.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.quantumlink.macos
PACKET_TUNNEL_PROVIDER_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).PacketTunnelProvider
APP_GROUP_IDENTIFIER = group.com.quantumlink.macos
MARKETING_VERSION = 0.3.0
CURRENT_PROJECT_VERSION = 1
MACOSX_DEPLOYMENT_TARGET = 14.0
