QUANTUMLINK_DEVELOPMENT_TEAM =
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = $(QUANTUMLINK_DEVELOPMENT_TEAM)
SDKROOT = macosx
SUPPORTED_PLATFORMS = macosx
ENABLE_HARDENED_RUNTIME = YES
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = YES
ONLY_ACTIVE_ARCH[config=Debug] = YES
ENABLE_TESTABILITY[config=Release] = NO
DEBUG_INFORMATION_FORMAT[config=Release] = dwarf-with-dsym
COPY_PHASE_STRIP[config=Release] = YES
STRIP_INSTALLED_PRODUCT[config=Release] = YES
SWIFT_COMPILATION_MODE[config=Release] = wholemodule
SWIFT_OPTIMIZATION_LEVEL[config=Release] = -O
GCC_OPTIMIZATION_LEVEL[config=Release] = s
